<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.avantir.wpos">

    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>
    <uses-permission android:name="com.pos.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_DATETIME" />
    <uses-permission android:name="com.pos.permission.COMMUNICATION" />
    <uses-permission android:name="com.pos.permission.PRINTER" />
    <uses-permission android:name="com.pos.permission.SECURITY" />
    <uses-permission android:name="com.pos.permission.BIND_JOB_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
            android:name=".WPOSApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/CashierBaseTheme">


        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainMenuActivity" />
        <activity android:name=".activity.transactions.InsertCardActivity" />
        <activity android:name=".activity.transactions.AccountTypeActivity" />
        <activity android:name=".activity.transactions.InputMoneyActivity" />
        <activity android:name=".activity.transactions.PayActivity" />
        <activity android:name=".activity.transactions.BalanceActivity" />
        <activity android:name=".activity.transactions.RefundActivity" />
        <activity android:name=".activity.transactions.CashBackActivity" />
        <activity android:name=".activity.transactions.CashAdvanceActivity" />
        <activity android:name=".activity.transactions.TranSequenceNrActivity" />
        <activity android:name=".activity.admin.ReprintActivity" />
        <activity android:name=".activity.admin.EoDActivity" />
        <activity android:name=".activity.admin.AdminActivity" />
        <activity android:name=".activity.admin.CallHomeConfigActivity" />
        <activity android:name=".activity.admin.PrintConfigActivity" />
        <activity android:name=".activity.admin.NetworkConfigActivity" />
        <activity android:name=".activity.admin.DownloadKeysActivity" />
        <activity android:name=".activity.admin.HostConfigActivity" />
        <activity android:name=".activity.admin.DownloadTermParamsActivity" />
        <activity android:name=".activity.admin.SupervisorPinActivity" />
        <activity android:name=".activity.admin.AdminPasswordActivity" />
        <service
                android:name=".services.DownloadKeysJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>

        <service
                android:name=".services.CallHomeJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>

        <service
                android:name=".services.ReversalJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>


        <service
                android:name=".services.TransNotifyUploadRetryJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>

        <service
                android:name=".services.DeleteReversalJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>

        <service
                android:name=".services.DeleteTransactionJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>

    </application>

</manifest>