<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.avantir.wpos">

    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>
    <uses-permission android:name="com.pos.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_DATETIME" />
    <uses-permission android:name="com.pos.permission.COMMUNICATION" />
    <uses-permission android:name="com.pos.permission.PRINTER" />
    <uses-permission android:name="com.pos.permission.SECURITY" />
    <uses-permission android:name="com.pos.permission.BIND_JOB_SERVICE" />

    <application
            android:name=".WPOSApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/CashierBaseTheme">


        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainMenuActivity" />
        <activity android:name=".activity.InsertCardActivity" />
        <activity android:name=".activity.AccountTypeActivity" />
        <activity android:name=".activity.InputMoneyActivity" />
        <activity android:name=".activity.PayActivity" />
        <activity android:name=".activity.BalanceActivity" />
        <activity android:name=".activity.RefundActivity" />
        <activity android:name=".activity.TranSequenceNrActivity" />
        <activity android:name=".activity.ReprintActivity" />
        <activity android:name=".activity.EoDActivity" />
        <activity android:name=".activity.AdminActivity" />
        <activity android:name=".activity.CallHomeConfigActivity" />
        <activity android:name=".activity.PrintConfigActivity" />
        <activity android:name=".activity.NetworkConfigActivity" />
        <activity android:name=".activity.DownloadKeysActivity" />
        <activity android:name=".activity.HostConfigActivity" />
        <activity android:name=".activity.DownloadTermParamsActivity" />
        <activity android:name=".activity.SupervisorPinActivity" />
        <activity android:name=".activity.AdminPasswordActivity" />
        <service
                android:name=".services.DownloadKeysJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>

        <service
                android:name=".services.CallHomeJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>

        <service
                android:name=".services.ReversalJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>

    </application>

</manifest>